body {
  font-family: Arial;
  font-size: 13px;
  color: #bbbbbb;
  background: black;
  background-image: url("../img/stars.png");
  background-repeat: repeat;
  font-weight: bold;
}

.route_pane {
  display: block;
}

.action {
  white-space: pre;
  background-color:rgba(255,255,255,0.2);
  border-radius: 4px;

  margin: 1px;

  font-weight: bold;
  font-size: 13px;
  display: inline-block;
  min-width: 60px;
  text-align: center;
  cursor: pointer;
}

.act_move {
  @extend .action;
  color: #cdde87;
}

.act_dump {
  @extend .action;
  color: #f59a42;
}

.act_stock {
  @extend .action;
  color: #9bb6cb;
}

.act_load {
  @extend .action;
  color: #f7c358;
}

.act_fill {
  @extend .action;
  color: #ffffff;
}


.fuel_pane {
  display: block;
}

.fuel_caption {
  font-size: 16px;
}

.fuel_count {
  font-weight: bold;
  font-size: 16px;
  color: #ffffff;
  margin-left: 10px;
}
